*.pyc
stl.pyc
#admin/*.ast
venv
draftprint.zip
Procfile
requirements.txt
ui_methods.*
.gitignore.*.*.gitignore
.gitignore.*
print_calibration
jsc3d-read-only/
static/js/jsc3d.js
*.zip
static/js/delete/
temp/
